.footer {
  background-color: #009344;
  color: black;
  width: 100%;
  padding: 30px 0;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: start;
  padding: 50px;
}

.footer-section h3 {
  margin: 10px 0;
}

.footer-section span {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.footer-info label{
  font-weight: bold;
  font-size: 18px;
}

.footer-info a{
  color: black;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.footer-info a:hover {
  text-decoration: underline;
}

.footer-section a{
  color: black;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-logo img {
  width: 125px;
  height: 125px;
}

.footer-bottom {
  text-align: center;
  background-color: #00BB57;
  padding: 15px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .footer {
    height: 455px;
  }

  .footer-logo img {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .footer {
    height: 425px;
  }

  .footer-logo img {
    width: 200px;
    height: 200px;
  }
}
