<div class="dish-menu-item" (click)="navigateToDetail()">
  <div class="dish-info">
    <h3 class="title">{{ title }}</h3>
    <p class="description">{{ description }}</p>
  </div>
  <div class="dish-actions">
    <ng-container *ngIf="showAddButton; else showPriceOnly">
      <button class="button-dish-menu" (click)="addToCart($event); $event.stopPropagation()">
        Añadir - {{ price }}€
      </button>
    </ng-container>
    <ng-template #showPriceOnly>
      <span class="dish-price">{{ price }}€</span>
    </ng-template>
  </div>
</div>
