<div class="login-wrapper">
  <div class="login-content">
    <div class="login-header">
      <a routerLink="/">
        <img class="login-logo" src="assets/blackLogo.png" alt="Logo de Luigi's">
      </a>
      <h3 class="login-name">Luigi's</h3>
    </div>

    <div class="login-container">
      <label for="user">Nombre de Usuario</label>
      <input
        type="text"
        id="user"
        placeholder="Usuario"
        [(ngModel)]="usuarioInput"
        name="usuario"
      >

      <label for="password">Contraseña</label>
      <input
        type="password"
        id="password"
        placeholder="Contraseña"
        [(ngModel)]="passwordInput"
        name="password"
      >

      <button (click)="login()">Login</button>
    </div>
  </div>
</div>



