@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("src/assets/about-us.css");
body {
  font-family: 'Roboto', sans-serif;
}

input, textarea {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

main {
  width: min(95%, 1200px);
  margin: 0px auto;
  padding: 0px;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
