<div class="header">
  <nav class="header__nav">
    <a routerLink="/" class="header__logo-container">
      <img
        class="header__logo"
        ngSrc="assets/blackLogo.png"
        alt="Logo de Luigi's"
        width="500"
        height="500"
      />

      <h3 class="header__name">Luigi's</h3>
    </a>

    <ul class="header__menu">
      <li><a routerLink="/" class="header__link">Inicio</a></li>
      <li><a routerLink="/favorites" class="header__link">Favoritos</a></li>
    </ul>
  </nav>
</div>
