<header class="header">
  <nav class="header__nav">
    <div class="header__container-logo">
      <a routerLink="/">
        <img class="header__logo" ngSrc="assets/blackLogo.png" alt="Logo de Luigi's" height="500" width="500">
      </a>
      <h3 class="header__name">Luigi's</h3>
    </div>
    <div>
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <ul class="menu">
        <div class="menu__section">
          <li class="menu__li"><a routerLink="/favorites" class="menu__link">Favoritos</a></li>
        </div>
      </ul>
    </div>
  </nav>
</header>
