<div class="footer-content">
  <section class="footer-section">
    <h3>Cont<span>acto</span></h3>
    <div class="footer-info">
      <label>Teléfono</label>
      <p>(+34) 000 000 000</p>
    </div>
    <div class="footer-info">
      <label >Dirección</label>
      <p>Av. José Mesa y López, 41,</p>
      <p>35100, Las Palmas de Gran Canaria</p>
    </div>
    <div class="footer-info">
      <label>Horario</label>
      <p>M-J: 12:30-23:00</p>
      <p>V-S: 13:30-00:00</p>
    </div>
  </section>
  <section class="footer-section">
    <h3>Pág<span>inas</span></h3>
    <div class="footer-info">
      <a href="../menuPage.html">Menú</a>
      <a href="../aboutUs.html">Nosotros</a>
      <a href="../contactPage.html">Contacto</a>
    </div>
  </section>
  <section class="footer-section">
    <h3>Re<span>des</span></h3>
    <a href="https://instagram.com">Instagram</a>
    <h3>Más Infor<span>mación</span></h3>
    <p>Desarrollo - Grupo 43.2</p>
  </section>
  <div class="footer-logo">
    <img src="../assets/blackLogo.png" alt="Logo">
  </div>
</div>
<div class="footer-bottom">
  <p>Luigi’s ® - Todos los derechos reservados 2025©</p>
</div>