<ion-content>

  <div class="menu-about-section">
    <ion-grid>
      <ion-row *ngFor="let item of aboutIntro; let i = index" [class.reverse]="i % 2 !== 0" class="menu-img-text-section">
        <ion-col size="12" sizeMd="6">
          <img [src]="item.imagen" [alt]="item.titulo" />
        </ion-col>
        <ion-col size="12" sizeMd="6">
          <h3>{{ item.titulo }}</h3>
          <p class="description" [class.expanded]="item.expanded">
            {{ item.expanded ? item.descripcion : (item.descripcion | slice: 0:100) + '...' }}
          </p>
          <ion-button fill="clear" class="toggle-text" (click)="toggleDescription(item)">
            {{ item.expanded ? 'Ver menos' : 'Ver más' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="grid">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4" *ngFor="let item of aboutGrid">
          <ion-card class="card">
            <img [src]="item.imagen" [alt]="item.titulo" />
            <ion-card-header>
              <ion-card-title>{{ item.titulo }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="description" [class.expanded]="item.expanded">
                {{ item.expanded ? item.descripcion : (item.descripcion | slice: 0:100) + '...' }}
              </p>
              <ion-button fill="clear" class="toggle-text" (click)="toggleDescription(item)">
                {{ item.expanded ? 'Ver menos' : 'Ver más' }}
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="about-map-section">
    <iframe class="about-map"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-15.454834699630739%2C28.0710241643908%2C-15.447753667831423%2C28.075075856535385&amp;layer=mapnik&amp;marker=28.073050029564666%2C-15.451294183731079">
    </iframe>
  </div>

  <div class="last-section" *ngIf="aboutLast">
    <h2>{{ aboutLast.titulo }}</h2>
    <ion-grid class="img-text-section">
      <ion-row>
        <ion-col size="12" sizeMd="6">
          <img [src]="aboutLast.imagen" [alt]="aboutLast.titulo" />
        </ion-col>
        <ion-col size="12" sizeMd="6">
          <p class="description" [class.expanded]="aboutLast.expanded">
            {{ aboutLast.expanded ? aboutLast.descripcion : (aboutLast.descripcion | slice: 0:100) + '...' }}
          </p>
          <ion-button fill="clear" class="toggle-text" (click)="toggleDescription(aboutLast)">
            {{ aboutLast.expanded ? 'Ver menos' : 'Ver más' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

