<div class="menu-container">
  <div *ngIf="loading" class="loading-indicator">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando el menú...</p>
  </div>

  <ng-container *ngIf="!loading">
    <section class="dish-slider" *ngFor="let category of categoryOrder">
      <h2>{{ category }}</h2>
      <div class="dish-slider-content">
        <app-card-slider
          *ngFor="let item of menuItems[category]"
          [image]="item.image"
          [title]="item.name"
          [description]="item.description"
          [price]="item.price"
          [id]="item.id"
        ></app-card-slider>
      </div>
    </section>
  </ng-container>
</div>
