<section>
    <h2>Nuestro legado</h2>
    <div class="home-history-section">
        <img src="../../assets/cocinero_amasando_pizza.jpg" alt="Placeholder" class="home-history-section-img">
        <div>
            <p class="home-history-section-p">Tras amasar una fortuna en las Américas, Luigi Abatino se decidió por regresar
                a su tierra natal, no sin antes hacer una breve parada de paso por las Islas Canarias. Sin embargo, quedó
                cautivado por la belleza de estas tierras y de la buena gente que en ellas habita, por lo que la idea de
                abandonar este paraíso y retomar a su antigua vida, aún con sus nuevas riquezas, perdió todo sentido para él.
                Finalmente, con el dinero ahorrado y su buena mano para la cocina logró erigir uno de los mejores restaurantes
                italianos de la isla.
            </p>
            <p class="home-history-section-p">
                A día de hoy, el restaurante sigue en el mismo sitio, con las mismas recetas y la misma calidad pero bajo las
                cuidadosas manos de la descendencia directa de su creador. De esta forma, nuestros platos honran y veneran la
                auténtica comida italiana, innovando sin olvidar su tradición familiar transmitida de padres a hijos.
            </p>
        </div>

    </div>
</section>

<section>
    <h2>Dónde estamos</h2>
    <div class="home-map-section">
        <iframe class="home-map"
                src="https://www.openstreetmap.org/export/embed.html?bbox=-15.454834699630739%2C28.0710241643908%2C-15.447753667831423%2C28.075075856535385&amp;layer=mapnik&amp;marker=28.073050029564666%2C-15.451294183731079">
        </iframe>
    </div>
</section>

<section class="home-menu-section">
    <h2>Nuestros mejores platos</h2>
    <div class="home-menu-content">
        <div class="card-slider" id="item1"></div>
        <div class="card-slider" id="item2"></div>
        <div class="card-slider" id="item3"></div>
    </div>
    <div class="home-menu-footer">
        <a href="../menu"><button class="go-to-button">Ir al menú</button></a>
    </div>
</section>

<section>
    <h2>Nuestros clientes</h2>
    <div class="review-container">
        <section class="review" id="review1"></section>
        <section class="review" id="review2"></section>
        <section class="review" id="review3"></section>
    </div>
</section>
