.home-history-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.home-history-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.home-history-section img {
    width: 500px;
    height: 300px;
    margin-right: 20px;
}


.go-to-button {
    display: inline-block;
    margin: 30px auto;
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2em;
    width: 50%;
    transition: background-color 0.3s ease-in-out;
}
.go-to-button:hover {
    background-color: #333;
}